node_modules
*/**/build/*
npm-debug.log
package-lock.json
logs
build/licenses/
*.license
data/*
*.tgz
dist
dist-test
files/
*.pdf
typings
licenseReport.html
tmp
tmp2
e2e-results.xml
test-results.xml

.nyc_coverage/
.nyc_output/
coverage/

yarn-error.log
.idea
tools/license-generator/bin/
packages/frontend/debug.log

*.cpython-38.pyc
__pycache__

*/**/.angular/*
