{
    "$schema": "http://json-schema.org/draft-04/schema#",
    "trailingComma": "all",
    "printWidth": 140,
    "tabWidth": 4,
    "singleQuote": false,
    "arrowParens": "always",
    "singleAttributePerLine": true
}
